*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: whitesmoke;
}
.top{
    position:fixed;
    height: 90px;
    background-color: #27dec0;
    border-bottom: 3px solid #3e5175;
    box-shadow: 5px 5px 10px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}


/* Default display menu */

.menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.menu li{
    margin: 1em;
    float:right;
    font-weight: 900px;
    font-size: .8rem;
}
.menu ul input{
    visibility: hidden;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.menu ul input.visibleIncon{
    visibility: visible;
}
.fa-search{
    width: 20px;
    font-size: 18px;
    position: relative;
    color:black;
    bottom: 7px;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #00080e;
}
.menu button{
    border: none;
    background-color: #27dec0; 
    text-transform: uppercase;
}
.menu a:hover{
    color: #EEF2F5;
}
img{
    margin-left: 10px;
    margin-top: 5px;
    font-size:20px;
    float:left;
    border-radius: 50%;
    width:80px;
    height:80px;
}

.result-container{
    visibility: hidden;
    margin-top: 160px;
}

.found-result-container{
    visibility: hidden;
}
.search-result, 
.found-result-{
    visibility: visible;
    background-color: darkgray;
    color: black;
    width: 450px;
    height: 600px;
    margin-left: 30%;
    padding: 15px;
    font-size: 20px;
    font-weight: 10px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 2px solid aquamarine;
    border-radius: 5px;
    box-shadow: 6px 7px 15px black;
}
span{
    color: darkcyan;
    font-size: 25px;
    text-shadow: 1px 1px 2px cyan;
}
.error, .search-error{
    height: 40px;
    line-height: 20px;
    width: 40%;
    text-align: center;
    margin-top:20px;
    margin-left: 35%;
}

/*----------------------------------------
-----contral navBar responsive -----------------
*/

@media(max-width: 670px){
    .menu{
        visibility: hidden;
    }
    .span,
    .fa-bars, 
    .fas-times{
        margin-bottom: 10px;
        align-self: flex-end;
        color: white;
    }
    .dropdown .fa-search{
        bottom: -6px;
    }
    .dropdown{
        position: fixed;
        top: 85px;
        right: 0;
        width: 150px;
        flex-direction: column;
        background-color: #27dec0;
        border-bottom-left-radius: 20px;    
        border-bottom-right-radius: 20px;    
    }
    .dropdown ul{
        flex-flow: column;
        align-self: flex-end;
        list-style: none;
        margin-left: 10px;
        line-height: 30px;   
    }
    .dropdown input{
        border: none;
        width: 80%;
        height: 30px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .dropdown a{
        background-color:#27dec0 ;
        text-decoration: none;
        color: #00080e;
    }
    .dropdown a:hover{
        color: #EEF2F5;
    }
    .dropdown button{
        border: none;
        background-color: #27dec0;
        text-transform: uppercase 
    }
}

@media(min-width: 671px){
    nav{
        display: inline-block;
    }
    .span,
    .fa-bars, 
    .fas-times{
        display: none;
    }
    .dropdown{
        display: none;
    }
} 
