*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    background-color: whitesmoke;
}
.top{
    background-color: #27dec0;
    border-bottom: 3px solid #3e5175;
    box-shadow: 5px 5px 10px #888888;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li {
    margin: 1em;
    margin-top: 20px;
    float:right;
    font-weight: 900px;
    font-size: .8rem;
}
nav ul input{
    size:  100px;
    height: 30px;
    text-align: justify;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 4px 10px black;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.add,
.logout,
.view-report{
    background-color: #141c2c;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
a:hover{
    cursor: pointer;
    color: darkcyan;
}
img{
    margin-left: 10px;
    margin-top: 10px;
    font-size:20px;
    float:left;
    border-radius: 50%;
    width:100px;
    height:100px;
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}
.result-container{
    visibility: hidden;
    margin-top: 160px;
}

.found-result-container{
    visibility: hidden;
}
.search-result, 
.found-result-{
    visibility: visible;
    background-color: darkgray;
    color: black;
    width: 450px;
    height: 600px;
    margin-left: 30%;
    padding: 15px;
    font-size: 20px;
    font-weight: 10px;
    line-height: 40px;
    margin-bottom: 10px;
    border: 2px solid aquamarine;
    border-radius: 5px;
    box-shadow: 6px 7px 15px black;
}
span{
    color: darkcyan;
    font-size: 25px;
    text-shadow: 1px 1px 2px cyan;
}
.error, .search-error{
    height: 40px;
    line-height: 20px;
    width: 40%;
    text-align: center;
    margin-top:20px;
    margin-left: 35%;
}
@media(max-width:768px){
    nav li{
        padding:0;
        margin: .3rem;
        display: flex;
    }
    .add, .logout, .view-report{
        width:50px;
        font-size: 10px;
    }
    input{
        size: 60px;
        margin-right: 0;
        width: 60px;
    }
   
}