*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/signup.jpg);
    background-size: cover;
    display: grid;
}
.top{
    position:fixed;
    height: 90px;
    background-color: #27dec0;
    border-bottom: 3px solid #3e5175;
    box-shadow: 5px 5px 10px #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}


/* Default display menu */

.menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.menu li{
    margin: 1em;
    float:right;
    font-weight: 900px;
    font-size: .8rem;
}
.menu ul input{
    visibility: hidden;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.menu ul input.visibleIncon{
    visibility: visible;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #00080e;
}
.menu button{
    border: none;
    background-color: #27dec0; 
    text-transform: uppercase;
}
.menu button:hover{
    color: #EEF2F5;
}
.fa-search{
    width: 20px;
    font-size: 18px;
    position: relative;
    color:black;
    bottom: 4px;
}
img{
    margin-left: 10px;
    margin-top: 5px;
    font-size:20px;
    float:left;
    border-radius: 50%;
     width:80px;
     height:80px;
}
.container{
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
}
h3{
    visibility: hidden;
    text-align: center;
    line-height: 60vh;
    text-transform: uppercase;
    color:blue;
}
form{
    background-color:#27dec0;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 20px solid #36474e;
    margin-top: -100px;
    width:700px ;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px;
    height: 100%;
}
label{
    display:inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
form input{
    background-color: whitesmoke;
    border: 3px solid #3e5175;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 20px;
    padding: 5px;
    width: 40%;
}
.menu button{
    border: none;
    background-color: #27dec0; 
    text-transform: uppercase;
}
.register{
 padding-bottom: 5px;
 margin-top: 40px;
 border: none;
 background-color: #141c2c;
 color: #fff;
 width: 100px;
 height: 50px;
 border-radius: 5px;
}
.register:hover{
    background-color: black;
    color: gray;
    cursor: pointer;
}
.load-result{
    color: red;
    display: flex;
    padding: 5px;
    margin-top: 2px;
    width: 50%;
    height: 20px;
}
.result{
   border: 3px solid rgba(red, green, blue, alpha); 
   border-radius: 50%;
   width: 20px;
   -webkit-animation: spin 3s linear infinite;
   animation: spin 3s linear infinite; 
}
.error-display{
    margin-top: 0;
    height: 50px;
    line-height: 20px;
    width: 50%;
    text-align: center;
    /* background-color: red; */
}
#edit-error{
    height: 40px;
    line-height: 20px;
    width: 40%;
    text-align: center;
    margin-top:20px;
    margin-left: 35%;
    
}
.users-error{
    width: 500px;
    height: 50px;
    margin-top: -700px;
    margin-left: 33%;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.all-users{
    margin-top: -700px;
}
.container-users{
    background-color: darkgray;
    color: black;
    width: 400px;
    height: 500px;
    margin-left: 30%;
    margin-top: 20px;
    line-height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: 10px;
    margin-bottom: 10px;
    border: 2px solid aquamarine;
    border-radius: 5px;
    box-shadow: 6px 7px 15px black;
    
}
span{
    color: darkcyan;
    font-size: 25px;
    text-shadow: 1px 1px 2px cyan;
}
.btns{
    width: 400px;
    height: 100px;
    margin-left: 30%;
    margin-top: -115px;
    padding: 15px;
}
#edit{
    float: left;
}
#delete{
    float:right;
}
#edit, #delete{
    background-color: #141c2c;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-top: 50px;
}
#edit:hover, #delete:hover{
    background-color: #26CC7C;
    cursor: pointer;
}

small{
    
    margin-top: 20px;
}
#input-edit{
    align-items: center;
    text-align: center;
    justify-content: center;
    width:400px ;
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    height: 100%;
    margin-top: -600px;
    
}
#input-edit input{
    background-color: white;
    border: 3px solid #26CC7C;;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 20px;
    padding: 10px;
    width: 40%;
}
#input-edit label{
    display:inline-block;
    color: teal;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}


.submit{
    background-color: #141c2c;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 45%;
}
.submit:hover,
.submit:focus{
    background-color: #26CC7C;
    cursor: pointer;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(max-width:670px){
    .menu{
        visibility: hidden;
    }
    .span,
    .fa-bars, 
    .fas-times{
        margin-bottom: 10px;
        align-self: flex-end;
        color: white;
    }
    .dropdown .fa-search{
        bottom: -6px;
    }
    .dropdown{
        position: fixed;
        top: 85px;
        right: 0;
        width: 150px;
        flex-direction: column;
        background-color: #27dec0;
        border-bottom-left-radius: 20px;    
        border-bottom-right-radius: 20px;    
    }
    .dropdown ul{
        flex-flow: column;
        align-self: flex-end;
        list-style: none;
        margin-left: 10px;
        line-height: 30px;   
    }
    .dropdown input{
        border: none;
        width: 80%;
        height: 30px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .dropdown a{
        background-color:#27dec0 ;
        text-decoration: none;
        color: #00080e;
    }
    .dropdown a:hover{
        color: #EEF2F5;
    }
    .dropdown button{
        border: none;
        background-color: #27dec0;
        text-transform: uppercase 
    }
    body{
        grid-template-rows: 1fr;
    }
    form{
        margin-left: -150px;
    }
    .found-users{
        margin-left: 10%;
    }
    .result{
        margin-left: 120px;
    }
    .error-display{
        margin-top: 90px;
    }
}

@media(min-width: 671px){
    nav{
        display: inline-block;
    }
    .span,
    .fa-bars, 
    .fas-times{
        display: none;
    }
    .dropdown{
        display: none;
    }
} 
