*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/img/signup.jpg);
    background-size: cover;
    display: grid;
}
.top{
    background-color: aquamarine;
    border-bottom: 3px solid pink;
    box-shadow: 5px 5px 10px #888888;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li {
    background-color: #141c2c;
    margin: 1em;
    margin-top: 20px;
    float:right;
    font-weight: 900;
    padding: .5em;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
}
nav li:hover,
nav li:focus {
    background-color: rgb(11, 12, 12);
    cursor:pointer;
    color: darkcyan;
}
img{
    margin-left: 10px;
    margin-top: 10px;
    font-size:20px;
    float:left;
    border-radius: 50%;
     width:100px;
     height:100px;
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h3{
    text-align: center;
    line-height: 60vh;
    text-transform: uppercase;
    color:#26CC7C;
}
form{
    background-color:transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 20px solid #cde7ff;
    margin-top: -100px;
    width:700px ;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 20px;
    height: 100%;
}
label{
    display:inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}
input{
    background-color: transparent;
    border: 3px solid #26CC7C;;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 20px;
    padding: 10px;
    width: 40%;
}

.register{
 padding: 5px;
 margin-top: 40px;
 border: none;
 background-color: #141c2c;
 color: #fff;
 width: 25%;
 border-radius: 5px;
}
.register:hover{
    background-color: black;
    color: gray;
    cursor: pointer;
}
.load-result{
    color: red;
    display: flex;
    padding: 5px;
    margin-top: 2px;
    width: 50%;
    height: 20px;
}
.result{
   border: 3px solid rgba(red, green, blue, alpha); 
   border-radius: 50%;
   width: 20px;
   animation: spin 2s linear infinite; 
}
.error-display{
    height: 40px;
    line-height: 20px;
    width: 50%;
    text-align: center;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(max-width:768px){
    body{
        grid-template-rows: 1fr;
        overflow-x: hidden;
    }
    form{
        margin-left: -200px;
    }
    .top li{
        margin-right: 110px;
    }
}