*,*::before,*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/signup.jpg);
    background-size: cover;
    display: grid;
}
.top{
    background-color: #27dec0;
    border-bottom: 3px solid #3e5175;
    box-shadow: 5px 5px 10px #888888;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li {
    background-color:#141c2c ;
    color:#fff;
    border-radius: 10px;
    margin: 1em;
    margin-top: 20px;
    float:right;
    font-weight: 900;
    padding: .5em;
    text-transform: uppercase;
    font-size: .8rem;
}
nav li:hover,
nav li:focus {
    background-color: rgb(11, 12, 12);
    cursor:pointer;
    color:darkcyan;
}
img{
    margin-left: 10px;
    margin-top: 10px;
    font-size:20px;
    float:left;
    border-radius: 50%;
    width:100px;
    height:100px;
}
.sticky{
    position: fixed;
    margin: 0;
    width: 100%;
}
h3{
    text-align: center;
    line-height: 300px;
    text-transform: uppercase;
    color: blue;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
form{
    background-color: #27dec0;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 20px solid #36474e;
    margin-top: -100px;
    width:700px ;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 50px;
}
label{
    display:inline-block;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
input{
    background-color: whitesmoke;
    border: 3px solid #3e5175;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 20px;
    padding: 10px;
    width: 40%;
}
button{
    padding: 5px;
    margin-top: 40px;
    border: none;
    background-color: #141c2c;
    color: #fff;
    width: 25%;
    border-radius: 5px;
   }
button:hover{
    cursor: pointer;
    background-color: black;
}
.load-result{
    color: red;
    display: flex;
    padding: 5px;
    margin-top: 2px;
    width: 50%;
    height: 20px;
}
.result{
   border: 3px solid #888888 ;
   border-top: 3px solid rgba(225, 22, 12); 
   border-radius: 50%;
   margin-left:145px;
   width: 20px;
   height: 20px;
   -webkit-animation: spin 3s linear infinite;
   animation: spin 3s linear infinite;
}
.error-display{
    height: 40px;
    line-height: 20px;
    width: 50%;
    text-align: center;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media(max-width:670px){
    body{
        grid-template-rows: 1fr;
        overflow-x: hidden;
    }
    form{
        margin-left: -200px;
    }
    .top li{
        margin-right: 110px;
    }
    h3{
        margin-left: -25%;
    }
    .result{
        margin-left: 120px;
    }
}

